<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Asistencia</ion-title>
  </ion-toolbar>
</ion-header>

<h3>Ingrese los siguientes datos</h3>
<ion-content [fullscreen]="true">
  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">
    <app-custom-input type="text" label="Seccion" [control]="form.controls.seccion"></app-custom-input>

    <app-custom-input type="text" label="Asignatura" [control]="form.controls.asignatura"></app-custom-input>

    <app-custom-input type="text" label="rut" [control]="form.controls.rut"></app-custom-input>

    <div class="ion-padding">
      <ion-item>
        <ion-label>La latitud es: {{latitud}} </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>La Longitud es: {{longitud}} </ion-label>
      </ion-item>
    </div>

    <ion-button expand="block" type="submit" class="submit" >
      Terminar proceso
    </ion-button>
  </form>

  <h1>toma de fotoos</h1>
  <ion-button (click)='takeFoto()'>Foto</ion-button>

  <ion-card *ngFor="let i of imagenes">
    <ion-img [src]="i.src"></ion-img>
  </ion-card>


</ion-content>
