<app-header backButton="/auth" tittle="Cambiar contraseña"></app-header>

<ion-content>
  <form [formGroup]="form" class="auth-form" (ngSubmit)="submit()">
    <app-custom-input type="text" label="email" [control]="form.controls.email"></app-custom-input>

    <div class="validators" *ngIf="form.controls.email.errors">
      <div *ngIf="form.controls.email.errors?.['requiered']"  style="color: red;">Hace falta el usuario</div>
    </div>

    <ion-button expand="block" class="submit" type="submit" [disabled]="form.invalid">
      cambiar contraseña
    </ion-button>
  </form>

</ion-content>


